{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es2016": true,
    "jquery": true
  },
  "globals": {
    "google": false
  },
  "rules": {
    "eqeqeq": "error",
    "no-console":"off",
    "sort-imports": "error"
  }
}
